@model TMDT.Web.Models.System.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
    <div class="col-md-6 col-sm-6">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            if (TempData["SuccessMsg"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <p>Chúng tôi đã gửi link lấy lại mật khẩu đến email của bạn.Vui lòng kiểm tra email trước khi lấy lại mật khẩu.</p>
                </div>
            }
            @Html.AntiForgeryToken()
            <h4>Vui lòng nhập email để xác nhận.</h4>
            <br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="comments-area">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email)
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6 col-sm-3">
                    <input type="submit" class="btn-default1" value="Gửi" />
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
<div class="clearfix"></div>