@{
    Layout = "~/Views/Shared/_main.cshtml";
}

<div class="register">
    <div class="mation">
        <div class="alert alert-success" role="alert">
            <strong>Chúc mừng bạn !</strong> mật khẩu đã được thay đổi thành công.
            <br />
            Vui lòng click <a href="/dang-nhap.html"> vào đây </a>để đăng nhập.
        </div>
    </div>
</div>

