@{
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

<div class="cont span_2_of_3">
    <div class="comments-area">
        <div class="alert alert-success" role="alert">
            <strong>Mật khẩu tài khoản !</strong> đã được cập nhật.
            <br />
            Vui lòng click <a href="/dang-nhap.html"> vào đây </a>để đăng nhập.
        </div>
    </div>
</div>
<div class="clearfix"></div>
